<header class="site-header">
  <div class="container">
    <h1><a href="{{ "/" | prepend: site.baseurl }}">bettysteger<span>.com</span></a></h1>

    <button type="button" class="sliding-panel-button">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <nav class="navbar sliding-panel-content">
      <ul>
        {% for item in site.navbar %}
          <li>
            <a href="{{ item.slug | prepend: site.baseurl }}" title="{{ item.title }}" {% if page.url == item.slug %}class="active"{% endif %}>
              {{ item.title }}
            </a>
          </li>
        {% endfor %}
        <!-- <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank"><i class="fa fa-feed"></i></a></li> -->
      </ul>
    </nav>
  </div>
</header>

<div class="sliding-panel-fade-screen"></div>
