<ul class="social">
  <li><a href="{{ site.author.github }}" target="_blank" rel="noopener" title="GitHub"><i class="fa fa-2x fa-github"></i></a></li>
  <li><a href="{{ site.author.twitter }}" target="_blank" rel="noopener" title="Twitter"><i class="fa fa-2x fa-twitter"></i></a></li>
  <li><a href="mailto:{{ site.author.email }}" target="_blank" rel="noopener" title="E-mail"><i class="fa fa-2x fa-envelope-open"></i></a></li>
<!--   <li><a href="{{ site.author.facebook }}" rel="noopener" target="_blank"><i class="fa fa-facebook"></i></a></li>
  <li><a href="{{ site.author.linkedin }}" rel="noopener" target="_blank"><i class="fa fa-linkedin"></i></a></li> -->
</ul>