<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <main>
      {% include header.html %}

      <div class="container">
        {{ content }}
      </div>

      {% if page.url != '/' %}
      {% include footer.html %}
      {% endif %}

      {% include github-corner.html %}

      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
      <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
      <script>
      $(document).ready(function() {
        $('.sliding-panel-button,.sliding-panel-fade-screen,.sliding-panel-close').on('click touchstart',function (e) {
          $('.sliding-panel-content,.sliding-panel-fade-screen').toggleClass('is-visible');
          e.preventDefault();
        });
      });
      </script>
    </main>
    {% include ga.html %}
  </body>
</html>
